html{
    background-color:black;
}
#Head{
    font-size:50;
    text-align: center;
    color:lawngreen;
}
#RhymeList{
    list-style:none;
}
#Rhyme{
    color:lawngreen;
}
#message{
    color:lawngreen;   
}
#Name{
    color:lawngreen;
}